body{
    width: 98%;
    height: 100%;
    background-color: rgba(86, 130, 163, 0.18);
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    display: flex;
    justify-content: center;
}
.header{
    position: fixed;
    height: 48px;
    background: #5682a3;
    width: 59%;
    font-weight:bold;
    color: #FFF;
    padding-left: 1%;
    z-index: 2;
    top: 0;
    min-width: 900px;


}
.main{
    display: flex;
    width: 60%;
    height: 100%;
    position: fixed;
    z-index: 1;
    min-width: 910px;

}
.column-person{
    width: 40%;
    overflow-y: scroll;
    background-color: #FFF;
    margin-top: 40px;
    padding-top: 50px;
}
.person-card{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.person-card img{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-left: 10px;
}
.person-card p{
    font-weight:bold;
    margin-left: 10px;
    font-size: 18px;
}
.person-card:hover{
    background-color: rgba(159, 159, 159, 0.42);
}
.column-massage{
    overflow-y: scroll;
    background-color: #FFF;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 60px;
}
.massage-card{
    width: 100%;
    display: flex;
    align-items: flex-end;

}
.massage-card img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-left: 10px;
    margin-bottom: 15px;

}
.massage-card p{
    margin-left: 10px;
    background-color: rgba(141, 254, 205, 0.43);
    border-radius: 10px;
    padding: 1%;
    margin-right: 10px;
}
.write-massage{
    position:fixed;
    display: flex;
    width: 35%;
    align-items: center;
    height: 50px;
    border-top: 1px solid rgba(159, 159, 159, 0.42);
    bottom: 0;
    background-color: #FFF;
    min-width: 523px;

}

.write-massage i{
    margin-left: 10px;

 }
.write-massage input{
    width: 80%;
    margin-left: 10px;
    border: 0;
    height: 45px;

}
.write-massage input:active, .write-massage input:hover, .write-massage input:focus {
    outline: 0;
    outline-offset: 0;
}
.layout-search{
    position: fixed;
    background-color: #FFF;
    width: 23.7%;
    top: 48px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 330px;
}
.search{
    display: flex;
    align-items: center;
    height: 30px;
    width: 90%;
    border: 1px solid transparent;
    background-color: rgba(159, 159, 159, 0.42);

}
.search:hover{
    background-color: #FFF;
    border: 1px solid rgba(159, 159, 159, 0.42);
}

.search input {
    width: 100%;
    margin-left: 10px;
    border: 0;
    height: 100%;
    background-color: transparent;
}
.search input:active, .search input:hover, .search input:focus {
    outline: 0;
    outline-offset: 0;
}
.search i{
    margin-left: 10px;
    color: rgba(159, 159, 159, 1);
}

@media only screen and (max-width: 900px) {
    .header{
        width: 100%;
        min-width: 100px;


    }
    .main{
        width: 100%;
        min-width: 100px;

    }

    .write-massage{
        width: 58%;
        min-width: 60px;
    }
    .layout-search {
        width: 38%;
        min-width: 60px;
    }
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    margin-top: 50px;
    margin-bottom: 60px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-moz-scrolled-canvas

